<main id="entries" data-feedid="<%= current_feed_id %>">
    <form id="readall" method="POST" action="<%= url '/readall' %>">
        <input type="hidden" name="start_id" value="<%= entries&.first.id %>" />
        <input type="hidden" name="feed_id" value="<%= current_feed_id %>" />
        <button id="readFeed" class="button button-rounded" type="submit" title="Mark all as read">&#10003;</button>
    </form>
    <ol id="entryList">
    <% entries.each do |entry| %>
        <%= erb :entry, :locals => {:entry => entry} %>
    <% end %>
    </ol>
    <% if ! entries.empty? && entries.size == 10 %>
        <a id="moreEntries" data-start_id="<%= entries.last.id.to_s %>" href="<%= url '/' + current_feed_id.to_s + '?startId='+ entries.last.id.to_s %>">
            Load more
        </a>
    <% end %>
</main>
