<li id="entry_<%= entry.id %>" class="entry">
    <h2><a href="<%= entry.url %>"><%= entry.title %></a></h2>
    <div><%= entry.contentWithAbsLinks %></div>
    <hr class="read" data-entryid="<%= entry.id %>"> </hr>
</li>