<li id="entry_<%= entry.id %>" class="entry">
    <h2>
        <% if entry.marked? %>
            <form class="mark" method="POST" action="<%=url_for '/' + entry.id.to_s + '/unmark' %>"><button type="submit">&#9733;</button></form>
        <% else %>
            <form class="mark" method="POST" action="<%=url_for '/' + entry.id.to_s + '/mark' %>"><button type="submit">&#9734;</button></form>
        <% end %>
        <a href="<%= entry.url %>"><%= entry.title %></a>
    </h2>
    <div><%= entry.contentWithAbsLinks %></div>
    <hr class="read" data-entryid="<%= entry.id %>"> </hr>
</li>