<section id="feeds">
    <form id="feedReadall" method="POST" action="<%= url_for '/readall' %>">
        <input type="hidden" name="all" value="true" />
        <button type="submit" title="Mark all as read">&#10003;</button>
    </form>
    <a id="markLink" <%= 'class="current"' if current_feed_id == 'marked' %> href="<%= url_for '/marked' %>">Marked</a>
    <ol id="feedList">
    <% feeds.each {|feed| %><%= erb :feedlink, :locals => {:feed => feed, :current_feed_id => current_feed_id} if ! feed.entries.nil? && feed.entries.size > 0 %><% } %>
    </ol>
    <a id="addLink" href="<%= url_for '/settings' %>">&#9881;</a>
</section>