<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="<%= url_for '/main.css' %>">
        <title>Feedreader</title>
        <meta name="description" content="">
        <script src="<%= url_for '/visibility.js' %>" async></script>
        <script src="<%= url_for '/main.js' %>" async defer></script>
    </head>

    <body>
        <% if ! isAdmin? %>
            <p>Please sign in: <%= render_login_button %></p>
        <% else %>
            <section id="feeds">
                <ol id="feedList">
                <% feeds.each do |feed| %>
                    <% if ! feed.entries.nil? && feed.entries.size > 0 %>
                       <%= erb :feedlink, :locals => {:feed => feed} %>
                    <% end %>
                <% end %>
                </ol>
                <section id="mainControls">
                    <form id="subscribe" method="POST" action="<%= url_for '/subscribe' %>">
                        <label for="subscribe_input">add</label>
                        <input id="subscribe_input" type="url" name="url" placeholder="url"/>
                        <button type="submit">OK</button>
                    </form>
                    <form id="import" method="POST" action="<%= url_for '/import' %>" enctype="multipart/form-data">
                        <label for="import_input">import</label>
                        <input id="import_input" type="file" name="file" />
                        <button type="submit">OK</button>
                    </form>
                </section>
            </section>

            <% if entries %>
                <main id="entries">
                    <form id="readall" method="POST" action="<%= url_for '/readall' %>">
                        <% entries.each do |entry| %>
                            <input type="hidden" name="ids[]" value="<%= entry.id %>" />
                        <% end %>
                        <button type="submit">Mark all as read</button>
                    </form>
                    <ol>
                    <% entries.each do |entry| %>
                        <li id="entry_<%= entry.id %>">
                            <h2><a href="<%= entry.url %>"><%= entry.title %></a></h2>
                            <div><%= entry.content %></div>
                            <hr class="read" data-entryid="<%= entry.id %>"> </hr>
                        </li>
                    <% end %>
                    </ol>
                </main>
            <% end %>
        <% end %>  
    </body>
</html>
