<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <%= erb :head %>

    <body>
        <% if ! isAdmin? %>
            <section id="login"><p>Please sign in:</p> <%= render_login_button %></section>
        <% else %>
            <%= erb :feedlist, :locals => {:feeds => feeds, :current_feed_id => current_feed_id} %>

            <% if entries %>
                <main id="entries" data-feedid="<%= current_feed_id %>">
                    <form id="readall" method="POST" action="<%= url_for '/readall' %>">
                        <% entries.each do |entry| %>
                            <input type="hidden" name="ids[]" value="<%= entry.id %>" />
                        <% end %>
                        <button type="submit" title="Mark all as read">&#10003;</button>
                    </form>
                    <ol id="entryList">
                    <% entries.each do |entry| %>
                        <%= erb :entry, :locals => {:entry => entry} %>
                    <% end %>
                    </ol>
                </main>
            <% end %>
            <% if showSettings %>
                <main id="entries">
                    <%= erb :addForm %>
                    <%= erb :unsubscribeForm, :locals => {:feeds => feeds} %>
                </main>
            <% end %>
        <% end %>  
    </body>
</html>
