<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <%= erb :head, :locals => {:current_feed_id => current_feed_id} %>
    <body>
        <% if ! isAdmin? %>
            <main id="login">
                <img src="<%= url '/mstile-144x144.png' %>" id="logo">
                <div>
                    <h1>Login</h1>
                    <%= render_login_button %>
                </div>
            </main>
        <% else %>
            <%= erb :feedlist, :locals => {:feeds => feeds, :current_feed_id => current_feed_id} %>

            <%= yield %>
        <% end %>  
    </body>
</html>
