<main id="entries">
    <% if isAdmin? %>
        <nav id="settingsNav">
            <ol>
                <li class="current">Settings</li>
                <li><a href="<%= url '/admin' %>">Administration</a></li>
            </ol>
        </nav>
    <% end %>
    <%= erb :addForm %>
    <section id="exportForm" class="settingsForm">
        <h2>Export</h2>
        <form action="<%= url '/feeds.opml' %>" method="GET">
            <button type="submit">Export</button>
        </form>
    </section>
    <%= erb :unsubscribeForm, :locals => {:feeds => allFeeds} %>
    <%= erb :clientForm %>
    
    <section id="logoutForm" class="settingsForm">
        <h2>Logout</h2>
        <form id="subscribe" method="POST" action="<%= url '/logout' %>">
            <button type="submit">Logout</button>
        </form>
    </section>
</main>