<section id="unsubscribeForm">
    <h2>Unsubscribe</h2>
    <form method="POST" action="<%= url '/unsubscribe' %>">
    <ol id="unsubscribeList">
    <% feeds&.select{|feed| feed.subscribed? }&.each do |feed|  %>
        <label for="feeds[<%= feed.id.to_s %>]">
        <li>
            <input type="checkbox" id="feeds[<%= feed.id.to_s %>]" name="feeds[<%= feed.id.to_s %>]" />
            <%= truncate(feed.name, 75, "...") %> <a href="<%= feed.url %>">&#8599;</a>
        </li>
        </label>
    <% end %>
    </ol>
    <button type="submit" id="unsubscribeSubmit">Unsubscribe</button>
    </form>
</section>